<h1>Edit Image Information</h1>
<div id="editDiv">

<form action="/gallery/{{id}}?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
 <label for="user">User: <div>{{user}}</div> </label>
<br>
 <label for="title">Title</label><br><input type="text" id="title" name="title" value="{{title}}">
<br><br>
 <label for="link">Link</label><br><input type="text" id="link" name="link" value="{{link}}">
<br><br>
 <label for="description">Description</label><br><textarea name="description" class="description" cols="30" rows="10">{{description}}</textarea>
<br><br>
 <input type="submit" value="Submit" class="newButtons">
</form>

<form action="/gallery/{{id}}?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
 <br>
 <button class="newButtons">Delete</button>
</form>
 <br>
 <a href="/gallery" class="newButtons">Back</a>
</div>