<div id="theHeader">
  <div class="architectSingle">
    <h1>_ARCHITEKT</h1>
  </div>
  <div id="lineDiv">|</div>
  <div class="sideBarTop">
    <div class="welcomeSingle">Welcome to our online portfolio, we ae small group of passionate designers and architects, lookin to change and create amazing digital images to inspire others to follow in our innovative steps.
    </div>
  </div>
</div>


<div id="holder">
  <div class="viewSingle">
    <div>{{title}}</div>
    <div class="imgwrapper">
      <img class="imgSingle" src="{{link}}" alt="gallery image">
    </div>
    <div>{{description}}</div>
    <div class="buttonHolder">
  <a href="http://localhost:8888/gallery/{{id}}/edit">
    <button class="newButtons">Edit</button>
  </a>
  <br>
  <a href="http://localhost:8888/gallery" class="newButtons">Back to Gallery</a>
    </div>
  </div>


  <div class="sideBar">
  {{#each collection}}
  <div>
    <a href="/gallery/{{id}}">
      <div class="thumbnail">
        <img class="thumbimg" src="{{link}}" alt="image here">
          <div class="title"><b>{{title}}</b>
          </div>
          <br>
        </div>
    </a>
  </div>
  {{/each}}
  </div>



</div>




